# discord token
DISCORD_TOKEN=

# api endpoints
# i'm using localai - https://localai.io
# all of the models I've chosen here are available there
LOCALAI_CHAT_URL="http://localhost:8080/v1/chat/completions"
LOCALAI_IMAGE_URL="http://localhost:8080/v1/images/generations"

# !ask chat settings
CHAT_TEMPERATURE=0.5
MESSAGE_CHARACTER_LIMIT=2000
SYSTEM_PROMPT="You are M.U.T.H.E.R. an AI. Answer questions concisely. Your response MUST be 1500 characters or less! Do not show any disclaimers or messages about being a chatbot."
MODEL_GEMMA="gemma-3-4b-it" # gemma-3-4b with tool-use
MODEL_FALCON="falcon3-3b-instruct-abliterated" # uncensored but not as smart

# !generate settings
MODEL_DREAMSHAPER="dreamshaper"
IMAGE_SIZE="240x320"

# ANSI escape codes for colors
RESET="\033[0m"
red="\033[31m"
green="\033[32m"
yellow="\033[33m"
blue="\033[34m"
magenta="\033[35m"
cyan="\033[36m"
BOLD="\033[1m"